@model Article

<div>
    <h2>Article details</h2>
    <hr />
    <div>
        <a asp-controller="Article" asp-action="Edit" asp-route-id="Id" class="btn btn-dark">Edit</a>
        <a asp-controller="Article" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.GetFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.GetFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Tags.Select(t => t.Name))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            Comments
        </dt>
        <dd class="col-sm-10">
            <table>
                <thead>
                    <tr>
                        <th class="pe-4">Comment Id</th>
                        <th class="pe-4">Title</th>
                        <th class="pe-4">Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td class="pe-4">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="pe-4">@Html.DisplayFor(modelItem => item.Title)</td>
                            <td class="pe-4">
                                <div>
                                    <a asp-controller="Comment" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a asp-controller="Comment" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>         
        </dd>
    </dl>
</div>

